body {
    background-color: rgb(211, 204, 204);
}

.map-container {
    position: center;
    width: auto;
}

img {
    display: flex;
    max-width: 100%;
    height: auto;
}

.porolissum {
    display: flex;
    position: absolute;
    margin-top: -450px;
    margin-left: 690px;
    width: 4%;
    height: 8%;
    background-color: rgb(72, 15, 2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.porolissum:hover {
    transform: scale(1.2);
}

.casa_memoriala_ilmaniu {
    display: flex;
    position: absolute;
    margin-top: -490px;
    margin-left: 530px;
    width: 4%;
    height: 8%;
    background-color: rgb(175, 90, 71);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.casa_memoriala_ilmaniu:hover {
    transform: scale(1.2);
}

.muz_istorie_jd {
    display: flex;
    position: absolute;
    margin-top: -440px;
    margin-left: 615px;
    width: 4%;
    height: 8%;
    background-color: rgb(30, 188, 83);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.muz_istorie_jd:hover {
    transform: scale(1.2);
}

.gr_zmeilor{
    display: flex;
    position: absolute;
    margin-top: -480px;
    margin-left: 900px;
    width: 4%;
    height: 8%;
    background-color: rgb(14, 47, 18);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.gr_zmeilor:hover {
    transform: scale(1.2);
}

.jb_gradina{
    display: flex;
    position: absolute;
    margin-top: -500px;
    margin-left: 770px;
    width: 4%;
    height: 8%;
    background-color: rgb(10, 52, 2);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.jb_gradina:hover {
    transform: scale(1.2);
}
.mihai_viteazu_monument{
    display: flex;
    position: absolute;
    margin-top: -550px;
    margin-left: 580px;
    width: 4%;
    height: 8%;
    background-color: rgb(116, 27, 7);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.mihai_viteazu_monument:hover {
    transform: scale(1.2);
}
.apa_curgatoare_somes{
    display: flex;
    position: absolute;
    margin-top: -540px;
    margin-left: 950px;
    width: 4%;
    height: 8%;
    background-color: rgb(12, 40, 169);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.apa_curgatoare_somes:hover {
    transform: scale(1.2);
}
.apa_curgatoare_barcau{
    display: flex;
    position: absolute;
    margin-top: -490px;
    margin-left: 360px;
    width: 4%;
    height: 8%;
    background-color: rgb(3, 19, 88);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.apa_curgatoare_barcau:hover {
    transform: scale(1.2);
}
.apa_curgatoare_agrij{
    display: flex;
    position: absolute;
    margin-top: -430px;
    margin-left: 750px;
    width: 4%;
    height: 8%;
    background-color: rgb(6, 25, 108);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.apa_curgatoare_agrij:hover {
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .porolissum {
        display: flex;
        position: absolute;
        margin-top: 500px;
        margin-left: 500px;
        width: 5%;
        height: 3%;
        background-color: rgb(19, 5, 75);
        cursor: pointer;
        
    }


    .casa_memoriala_ilmaniu {
        display: flex;
        position: absolute;
        margin-top: 200px;
        margin-left: 500px;
        width: 5%;
        height: 3%;
        background-color: rgb(32, 6, 66);
        cursor: pointer;
        
    }

}